.left{

color: aliceblue;
display: inline-block;
position: absolute;
left: 3px;
top: 15px;

}
.left img{
width: 90px;
padding: 8px;
margin: 8px;
filter: invert(85%);
text-align: center;
}
.left div
{
    text-align: center;
    line-height: 15px;
font-size: 17px;
}



.mid{
    display: block;
    width: 40%;
    margin: 18px auto;
    ;
    color: aliceblue;
}
.right{
    position: absolute;
    right: 3px;
    top: 18px;
   ;
       color: aliceblue;
       display: inline-block;
      
}


.btn{
    margin: 0px 5px ;
    background-color: black;
    color: rgb(216, 213, 248);
    padding: 2px 8px;
    border: 2px solid gray;
    border-radius: 50px;
    font-size: 13px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(69, 68, 68);
}

.nav{
    display: inline-block;
}
.nav li{
   
    display: inline-block;
    font-size: 18px;
}
.nav li a{
   
   color: rgb(181, 221, 255);
   text-decoration: none;
   padding: 10px 15px;
}

.nav li a:hover,.nav li a.active{
   
    text-decoration: underline;
    color: rgb(177, 231, 214);
 }

 .container{
    
    color: rgb(234, 242, 249);
    margin: 120px 120px;
    padding: 120px 120px;
    width: 27%;
    display: block;
    border-radius: 30px;
 }

.form-group input{
    text-align: center;
    display: block;
    width:170px;
    padding : 5px;
    border: 2px solid rgb(91, 90, 90);
    margin: 4px auto;
    border-radius: 9px;
    font-size: 14px;
}

.container h1{
    text-align: center;
    color: rgb(181, 181, 181);
}

.container button{
    display: block;
    width: 33%;
    margin: auto;
}